[Unit]
Description=portforward for app robocar class
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/ssh -NT -L 27017:localhost:27017 hkim@dbs.melt.kyutech.ac.jp
Restart=always
User=hkim

[Install]
WantedBy=multi-user.target
